/* Home Section */
.home {
  padding: 3.5rem 0 5.5rem;

  &__container {
    position: relative;
    row-gap: 2rem;
  }

  &__img {
    justify-self: center;
    grid-row: 2;
    width: 300px;

    transition: all ease-in-out 0.4s;

    &:hover {
      transform: translateY(0.25rem);
    }
  }

  &__data {
    text-align: center;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: $h1-fontsize;
    line-height: 140%;
  }

  &__description {
    margin-bottom: 2.5rem;
  }

  &__social {
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
    position: absolute;
    bottom: 16rem;
    right: -1rem;

    &-follow {
      position: relative;

      font-size: $smaller-fontsize;
      font-weight: 600;
      color: $first-color;

      transform: rotate(90deg);

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -45%;
        width: 1rem;
        height: 2px;

        background-color: $first-color;
      }
    }

    &-links {
      display: inline-flex;
      flex-direction: column;
      row-gap: 0.25rem;
    }

    &-link {
      font-size: 1rem;
      color: $first-color;

      transition: all ease-in-out 0.4s;

      &:hover {
        transform: translateY(0.25rem);
      }
    }
  }
}
